<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="/static/images/神奇先生.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/libs/cesium/Widgets/widgets.css">
    <link rel="stylesheet" href="/static/libs/elementplus/index.css">

    <script src="/static/libs/cesium/Cesium.js"></script>
    <script src="/static/js/cesiumapis/cesium-materialLine.js"></script>
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/libs/axios/axios.min.js"></script>
    <script src="/static/libs/vue/vue.global.prod.js"></script>
    <script src="/static/libs/vue3-sfc-loader/vue3-sfc-loader.js"></script>
    <script src="/static/libs/elementplus/index.js"></script>
    <script src="/static/libs/echarts/echarts.js"></script>
    <script src="/static/libs/elementplus/element-plus_icons-vue.js"></script>

    {% block css %}

    {% endblock %}
    <title>Argo浮标运营管理系统</title>
</head>
<body>
<main id="comroot">
    {% block body %}

    {% endblock %}
</main>
{% block script %}

{% endblock %}
</body>
</html>